@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
*{
  margin: 0;
}

html{
  background-color: #010457;
}

.main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__addPost{
  color: #eeeeee;
  align-self: center;
  margin: auto;
  font-weight: 400;
}

.app__container{
  overflow: scroll;
}

.addpost{
  margin: auto;
}

.header__title{
  font-size: 50px;
  color: #eeeeee;
  font-weight: 700;
  font-family: 'Syne Tactile', sans-serif;
}