@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
*{
  margin: 0;
}

html{
  background-color: #010457;
}

.header__title{
  font-size: 50px;
  color: #eeeeee;
  font-weight: 700;
  font-family: 'Syne Tactile', sans-serif;
}